<%- include('html_head')%>

  <nav class="navbar navbar-expand-lg bg-light py-3 px-5">
    <div class="container">
      <a class="navbar-brand fw-bold fs-2" href="/home">CheckIt</a>
      <h1 class="navbar-brand my-auto fs-5 me-5"> Welcome <span class="text-success ms-2">
          <%= user.username%>
        </span></h1>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/ownProfile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/writePost">Write</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 mx-2 my-auto" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <style>
    .main {
      height: 80vh;
      width: 100vw;
      position: relative;
      display: flex;


    }

    .profilePic {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    .postPic {
      object-fit: cover;
      /* scale: .7; */
      height: 100%;
      ;
      width: 100%;
    }

    .right>img {
      height: 110px;
      width: 110px;
      object-fit: cover;
      border-radius: 50%;
    }

    .right {
      width: 40%;
      height: 100%;
      padding: 5vmax 5vmax;
    }

    .left {

      width: 60vw;
      height: 75vh;
      border-right: 1px solid grey;
      display: flex;
      flex-direction: column;
      margin-top: 5vmax;
      position: relative;

    }

    .dataScroll {
      margin: 0 auto;
      width: 57vw;
      height: 60vh;

      display: flex;
      position: relative;
      overflow: hidden;
      scroll-behavior: smooth;
    }

    .dataScroll::-webkit-scrollbar {
      display: none;
    }

    .smoothScroll {
      min-height: 40vh;
      min-width: 57vw;
      background-color: aliceblue;
      overflow-y: auto;
    }
  </style>

  <div class="main">

    <div class="left">

      <h1 class="mb-3 fw-bold ps-4">
        <%= user.username%>
      </h1>

      <ul class="d-flex list-unstyled ps-4">

        <a class="text-decoration-none text-dark border-bottom me-3" href="#postSaved">
          <li class=" "> Posts Saved</li>
        </a>
        <a class="text-decoration-none text-dark border-bottom" href="#postUploaded">
          <li class=" ">Posts Uploaded</li>
        </a>
      </ul>

      <div class="dataScroll">

        <div id="postSaved" class="smoothScroll">
          <h3 class="text-center my-2">Saved</h3>
          <% saved.forEach(function(obj){ %>

            <div class="card m-auto my-4 p-2 overflow-hidden" style="width: 38rem;">

              <div class="user_detail ">
                <div class="d-flex align-items-center">
                  <img class="profilePic" src="/uploads/<%= obj.author.avatar%>" alt="">
                  <h4 class="ms-2 my-auto">
                    <%= obj.author.username%>
                  </h4>
                </div>

              </div>
              <% obj.blog.forEach(function(odd){ %>

                <div class="userBlog w-100">
                  <% if( odd.type==='header' ){%>
                    <h6 class="my-2">
                      <%= odd.data.text%>
                    </h6>
                    <% } else if(odd.type==='paragraph' ) { %>
                      <p class="">
                        <%= odd.data.text%>
                      </p>
                      <% } else if(odd.type==='image' ) { %>
                        <img class="postPic my-2" src="<%= odd.data.file.url%>" alt="">


                        <%}%>
                </div>

                <%})%>
                  <div class="reactionDiv d-flex">
                    <a class="text-decoration-none" href=""><i class="mx-2 fs-5 ri-thumb-up-line text-dark"></i></a>
                    <a class="text-decoration-none" href=""><i class="mx-2 fs-5 ri-thumb-down-line text-dark"></i></a>
                    <a class="text-decoration-none" href="/unSavePost/<%= obj._id%>"><i
                        class="mx-2 fs-5 ri-bookmark-2-line text-dark"></i></a>

                  </div>

            </div>

            <%})%>
        </div>

        <div id="postUploaded" class="smoothScroll">
          <h3 class="text-center my-2">Uploaded</h3>
          <% posts.forEach(function(obj){ %>

            <div class="card m-auto my-4 p-2 overflow-hidden" style="width: 38rem;">

              <div class="user_detail d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <img class="profilePic" src="/uploads/<%= user.avatar%>" alt="">
                  <h4 class="ms-2 my-auto">
                    <%= user.username%>
                  </h4>
                </div>
                <div class="dropdown">
                  <button class="border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-="false">
                    <i class="fs-3 ri-more-fill"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/editPost/<%= obj._id%>">Edit</a></li>
                    <li><a class="dropdown-item" href="/deletePost/<%= obj._id%>">Delete</a></li>

                  </ul>
                </div>
              </div>
              <% obj.blog.forEach(function(odd){ %>

                <div class="userBlog w-100">
                  <% if( odd.type==='header' ){%>
                    <h6 class="my-2">
                      <%= odd.data.text%>
                    </h6>
                    <% } else if(odd.type==='paragraph' ) { %>
                      <p class="">
                        <%= odd.data.text%>
                      </p>
                      <% } else if(odd.type==='image' ) { %>
                        <img class="postPic my-2" src="<%= odd.data.file.url%>" alt="">


                        <%}%>
                </div>

                <%})%>
                  <div class="reactionDiv d-flex">
                    <a class="text-decoration-none" href=""><i class="mx-2 fs-5 ri-thumb-up-line text-dark"></i></a>
                    <a class="text-decoration-none" href=""><i class="mx-2 fs-5 ri-thumb-down-line text-dark"></i></a>
                  </div>

            </div>

            <%})%>

        </div>


      </div>



    </div>

    <div class="right">

      <img class="" src="/uploads/<%= user.avatar%>" alt="">
      <h3 class="my-4">
        <%= user.username%>
      </h3>
      <div class="linkss d-flex flex-column">
        <a class="text-success my-2 border-bottom-1 text-decoration-none" href="/updateProfileDetailPage">Edit
          profile</a>
        <a class="text-dark my-2 border-bottom-1 text-decoration-none" href="/resetPass">Reset Password</a>
        <a class="text-danger my-2 border-bottom-1 text-decoration-none" href="/logout">Logout</a>
        <a class="text-danger my-2 border-bottom-1 text-decoration-none" href="/deletee">Delete Account</a>

      </div>
    </div>
  </div>

  <%- include('html_foot')%>